---
let pageTitle = `About`;
const Identity = {
  firstName: "Sarah",
  lastName: "Zhang",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "skiing", "baseball"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<html>
  <head>
    <title>{pageTitle}</title>
  </head>
  <body>
    <h1>{pageTitle}</h1>
    <p>Welcome to the about page!</p>
    <h2>More about me</h2>
  </body>
</html>
