---

---
<html>
    <head>
        <title>Blog Page</title>
    </head>
    <body>
        <h1>Blog Page</h1>
        <p>Welcome to my blog!</p>
        <ul>
            <li>My first post <br>
            <a href="/posts/post-1">Read more</a>
            </li>
        </ul>
    </body>
</html>